body {
    margin: 0;
}

/* HEADER */

* {
    color: #664a46;
}

#header-tabs {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

li {
    margin-left: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dc9f8d;
}

.flex-container {
    display: flex;
}

.material-symbols-outlined {
    margin-right: 1rem;
}

/* MAIN */

/* Left side MAIN */

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-left: 60px;
    margin-top: 30px;
}

.bolder {
    font-weight: bold;
    font-size: 0.9rem;
    text-align: start;
    padding-left: 60px;
}

.main-p {
    font-size: 1.1rem;
    background-color: #F5E9DF;
    padding: 5px;
    border-radius: 50px;
    width: 70%;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 60px;
}

.payment {
    font-weight: bold;
    font-size: 0.9rem;
    color: white;
    background-color: #dc9f8d;
    padding: 5px;
    border-radius: 30px;
    width: 40%;
}

/* Right side MAIN */

.picture {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.prodpic {
    width: 40%;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f5e9df;
    padding: 40px;
    border-radius: 1000px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}

#footer-info {
    font-family: 'Montserrat', sans-serif;
    padding-left: 0%;
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
}

#copyright {
    display: flex;
    align-items: center;
    color: #664a46;
}

#copysymbol {
    margin-right: 0;
    padding-right: 5px;
}