body {
    margin: 0;
}

/* HEADER */

* {
    color: #664a46;
}

#header-tabs {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

li {
    margin-left: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dc9f8d;
}

.flex-container {
    display: flex;
}

.material-symbols-outlined {
    margin-right: 1rem;
}


#spoppingbag {
    position: relative;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  #number {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #A2BBB7;
    display: inline;
    border-radius: 100px;
    padding: 3px;
    font-size: 0.6rem;
    font-weight: bold;
  }

/* MAIN */

/* Left side MAIN */

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-left: 60px;
    margin: 0;
    margin-top: 30px;
}

label, input {
    font-weight: bold;
    font-size: 0.9rem;
    display: flex;
    margin-left: 150px;
}

input {
    margin-bottom: 17px;
}

.main-p {
    font-size: 1.1rem;
    background-color: #F5E9DF;
    padding: 5px;
    border-radius: 50px;
    width: 70%;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 60px;
}

.payment {
    font-weight: bold;
    font-size: 0.9rem;
    color: white;
    background-color: #dc9f8d;
    padding: 5px;
    border-radius: 30px;
    width: 40%;
}

#pay-button {
    background-color: #dc9f8d;
    color: white;
    padding: 10px;
    width: 150px;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 50px;
    font-size: 1rem;
    margin-right: 190px;
}

/* Right side MAIN */

.picture {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    row-gap: 5%;
}

.prodpic {
    width: 35%;
    position: relative;
    right: -60%;
}

.img-cont {
    align-self: center;
    margin: 0px;
    text-align: left;
}

.ul-one {
    list-style: none;
    text-align: left;
    margin-left: 150px;
    margin-top: 170px;
    line-height: 27px;
}

.ul-two {
    list-style: none;
    text-align: right;
    margin-right: 150px;
    margin-top: 170px;
    line-height: 27px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f5e9df;
    padding: 40px;
    border-radius: 1000px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}

#footer-info {
    font-family: 'Montserrat', sans-serif;
    padding-left: 0%;
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
}

#copyright {
    display: flex;
    align-items: center;
    color: #664a46;
}

#copysymbol {
    margin-right: 0;
    padding-right: 5px;
}