body {
    margin: 0;
}

/* HEADER */



.dropdown{
    position: relative;
    display: inline-block;
}
.dropbtn{
    background-color: #dc9f8d;
    color: #664a46;
    padding: 0;
    font: 18px;
    border: none;
    cursor: pointer;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.dropdown-content a:hover {
    background-color: #A2BBB7;
}
.dropdown:hover .dropdown-content{
    display: block;
}

* {
    color: #664a46;
}

#header-tabs {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

li {
    margin-left: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dc9f8d;
}

.flex-container {
    display: flex;
}

.material-symbols-outlined {
    margin-right: 1rem;
}

#spoppingbag {
    position: relative;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  #number {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #A2BBB7;
    display: inline;
    border-radius: 100px;
    padding: 3px;
    font-size: 0.6rem;
    font-weight: bold;
  }

#logo {
    margin-right: 180px;
}

/* Main*/

.home-img{
    width: 100%;
}

.categories-home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1,5rem;
    padding-top: 3rem;
}

.category-img {
    width: 70%;
    border-radius: 50%;
}

.best-table-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 3rem;
}

.best-table-container{
    position: relative;
    text-align: right;
}

.best-table-text{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

.best-table-img {
    width: 100%;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f5e9df;
    padding: 40px;
    border-radius: 1000px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 30px;
}

#footer-info {
    font-family: 'Montserrat', sans-serif;
    padding-left: 0%;
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
}

#copyright {
    display: flex;
    align-items: center;
    color: #664a46;
}

#copysymbol {
    margin-right: 0;
    padding-right: 5px;
}