body {
    margin: 0;
}

/* HEADER */

* {
    color: #664a46;
}

#header-tabs {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

li {
    margin-left: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dc9f8d;
}

.flex-container {
    display: flex;
}

.material-symbols-outlined {
    margin-right: 1rem;
}

#spoppingbag {
    position: relative;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  #number {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #A2BBB7;
    display: inline;
    border-radius: 100px;
    padding: 3px;
    font-size: 0.6rem;
    font-weight: bold;
  }

#logo {
    margin-right: 180px;
}

/* MAIN */

h2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 80px;
    margin-bottom: 50px;
    padding-left: 60px;
    font-size: 1.4;
}

.pictures {
    width: 100%;
}

.pictures-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

figcaption {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding-left: 60px;
    font-size: 1.4rem;
}

.products-pics {
    margin-bottom: 25px;
}

.price {
    font-family: 'Courier Prime', monospace;
    font-size: 1rem;
}

.hearts {
    position: relative;
    overflow: visible;
    top: -77.3%;
    left: 33%;
}

.bag {
    position: relative;
    overflow: visible;
    top: -77%;
    left: 33%;
}

@media screen and (max-width: 400px) {
    .pictures-container {
        grid-template-columns: 1fr 1fr;
        position: absolute;
    }

    figcaption {
        padding-left: 48px;
        font-size: 0.8rem;
    }

    .price {
        font-size: 0.7rem;
    }

    .bag, .hearts {
        visibility: hidden;
    }

    .pictures {
        width: 140px;
        height: 150px;
    }

    .products-pics {
        margin-bottom: 33px;
        height: 169px;
        margin-top: 30px;
        width: 140px;
    }

    h2 {
        margin-top: 50px;
        margin-bottom: 0;
    }
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f5e9df;
    padding: 40px;
    border-radius: 1000px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 30px;
}

#footer-info-one, #footer-info-two {
    font-family: 'Montserrat', sans-serif;
    padding-left: 0%;
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
}

#copyright {
    display: flex;
    align-items: center;
    color: #664a46;
}

#copysymbol {
    margin-right: 0;
    padding-right: 5px;
}

@media screen and (max-width: 400px) {
    #footer-info-one {
        margin-left: 0;
        margin-right: 0;
        order: -1;
        line-height: 22px;
    } 
    
    #footer-info-two {
        order: -1;
        line-height: 22px;
    }

    footer {
        display: flex;
        flex-direction: column;
        border-radius: 50px;
        margin-top: 1475px;
    }
}