/* HEADER*/


.dropdown{
  position: relative;
  display: inline-block;
}
.dropbtn{
  background-color: #dc9f8d;
  color: #664a46;
  padding: 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  z-index: 1;
}
.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.dropdown-content a:hover {
  background-color: #A2BBB7;
}
.dropdown:hover .dropdown-content{
  display: block;
}

* {
    color: #664a46;
  }


/* The photos */

.container-product-photos {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    padding-top: 7vw;
    padding-left: 30px;
  }
  
  .smiley-plates {
    width: 300%;
  }

/* The text to the right*/

#specific-product-name {
    font-family: "Montserrat", sans-serif;
    padding-top: 7vw;
    padding-left: 330px;
    margin: 0px;
    font-size: 2rem;
  }
  
  #specific-product-price {
    font-family: "Courier Prime", monospace;
    margin: 0px;
    padding-left: 330px;
    font-size: 1.5rem;
  }
  
  #specific-product-sizes {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: #858585;
    margin: 0px;
    padding-left: 415px;
    padding-top: 7vh;
  }

  /* The sizde boxes-buttons to the right*/

  .sizes-container {
    display: grid;
    justify-content: center;
  }

  #size-button {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin-top: 3vh;
    padding: 2vh;
    margin-left: 185px;
    padding-left: 1px;
    padding-right: 1px;
    width: 75%;
    text-align: center;
    border-radius: 50px;
    background-color: #f5e9df;
    border-color: beige;
  }

  
/* Styling the Add to cart button*/


#change-button {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    text-align: center;
    border-radius: 50px;
    background-color: #A2BBB7;
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    margin-left: 330px;
    margin-right: 30px;
    border-color: #A2BBB7;
    width: 42%;
    color: white;
    padding: 2vh; 
    animation: none;
    transition: none;
    
  }
  

  /* description text*/
  
  .description-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 330px;
  }
  
  
  #description-title {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #3a3a3a;
    margin-bottom: 0;
  }
  
  #description-product {
    font-family: "Courier Prime", monospace;
    font-size: 2rem;
    margin-right: 5vh;
    color: #858585;
  }
  
  #description-materials {
    font-family: "Courier Prime", monospace;
    font-size: 2rem;
    margin-right: 5vh;
    margin: 0;
    color: #858585;
  }
  
  #description-care {
    font-family: "Courier Prime", monospace;
    font-size: 2rem;
    margin-right: 5vh;
    color: #858585;
  }

  /* you may also like section*/


.other-products-text {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-top: 20vh;
    margin-left: 30px;
    padding-bottom: 1vh;
}
  
.other-products-photos {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.other-products-photos img {
    max-width: calc(110%);
    height: auto;
    margin-bottom: 10px;
    padding: 30px;
    padding-top: 0;
}
  

