body {
  margin: 0;
}

/* HEADER */
/* HEADER */

#hamburger{
  width: 100px;
  position: absolute;
  padding-left: 25px;
  padding-top: 30px;
}
#hamburgerimg{
   width: 25px;
}

.dropdown{
   position: relative;
   display: inline-block;
}
.dropbtn{
   background-color: #dc9f8d;
   color: #664a46;
   padding: 0;
   font-size: 16px;
   border: none;
   cursor: pointer;
   font-family: 'Montserrat', sans-serif;

}
.dropdown-content {
   display: none;
   position: absolute;
   background-color: white;
   min-width: 200px;
   z-index: 1;
}
.dropdown-content a {
   display: block;
   padding: 10px;
   text-decoration: none;
   color: black;
}
.dropdown-content a:hover {
   background-color: #A2BBB7;
}
.dropdown:hover .dropdown-content{
   display: block;
}



/*this is the mobile hamburger menu*/
.phonedown{
   position: relative;
   display: inline-block;
}
.hamburgerbtn{
   background-color: #dc9f8d;
   color: #664a46;
   padding: 0;
   font-size: 16px;
   border: none;
   cursor: pointer;
   font-family: 'Montserrat', sans-serif;
   margin-bottom: 8vw;
   display: none;

}
.phonedown-content {
   display: none;
   position: absolute;
   background-color: white;
   min-width: 250px;
   z-index: 1;
}
.phonedown-content a {
   display: block;
   padding: 10px;
   text-decoration: none;
   color: black;
   font-size: 18px;
   font-family: 'Montserrat', sans-serif;
}
.phonedown-content a:hover {
   background-color: #A2BBB7;
}
.phonedown:hover .phonedown-content{
   display: block;
}


/* this is the cart dropdown menu CSS*/

.smiley-dropdown{
   width: 20vh;
   padding: 15%;

}



.cart-summary{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-self: center;
   align-content: center;
   column-width: auto;
   gap: 5%;
}

.cartdown{
   position: relative;
   float: right; 
   margin-right: 0;
  
}

@media screen and (max-width: 400px) {
  .cartdown{
      margin-left: 20vw;
      
  }
  
}

.cartbtn{
   background-color: #dc9f8d;
   color: #664a46;
   padding: 0;
   font-size: 16px;
   border: none;
   cursor: pointer;
   font-family: 'Montserrat', sans-serif;

}
.cartdown-content {
   display: none;
   position: absolute;
   background-color: white;
   min-width: 300px;
   z-index: 1;
   right: 0;
}
.cartdown-content a {
   display: block;
   padding: 0px;
   text-decoration: none;
   color: black;
}


.cartdown:hover .cartdown-content{
   display: block;
}

.cart-button{
   background-color: #DC9F8D;
   padding-right: 0;
   margin-bottom: 2%;
   border-radius: 30px;
   margin-left: 20%;
   font-size: 16px;
   width: 60%;
   font-family: 'Montserrat', sans-serif;
   color: #FFFFFF;
}

.price1{
   padding-left: 15%; 
 padding-top: 10%;
 }
 
 #price2{
   display: none;
 padding-left: 15%; 
 padding-top: 10%;
 }
 
 #addeditem{
   display: none;
   width: 20vh;
   padding: 15%;
 }

* {
   color: #664a46;
}

#header-tabs {
   font-family: 'Montserrat', sans-serif;
   list-style: none;
   padding: 0;
   display: flex;
   flex-direction: row;
}

#mobileicons{
   justify-self: center;
   display: none;
   position: fixed;
   bottom: 0;


}

.webicons{
   display: flex;
}

.bottomicon{
   background-color:#DC9F8D;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding-left: 2.5rem;
   padding-top: 10px;
   width: 100%;
   height: 2rem;

}

/*media query for header
Ask Evelin why the fixed position is so weird*/
@media screen and (max-width: 400px){
   #header-tabs{
       display: none;
   }
   #logo{
       padding-left: 150px;
       padding-right: 20px;
   }
   .webicons{
       display: none;
   }
   #mobileicons{
       display: flex;
       
   }

   .categories-home{
       grid-template-rows: repeat(2, 1fr);
       
   }
   .hamburgerbtn{
    display: block;
   }

   
   
}

@media screen and (min-width: 400px){
    .bottomicon{
       display: none;
   }
   .hamburgerbtn{
    display: none;
   }
   
}




a {
   text-decoration: none;
}

li {
   margin-left: 1rem;
}

header {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   justify-content: space-between;
   background-color: #dc9f8d;
   position: fixed;
   
}

.flex-container {
   display: flex;
   flex-direction: row;
   justify-content: end;
   margin-left: 0;
}

.material-symbols-outlined {
   margin-right: 1rem;
}

#spoppingbag {
   position: relative;
   display: inline-block;
 }
 
 .overlay {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
 }
 
 #number {
   font-family: "Montserrat", sans-serif;
   color: white;
   background-color: #A2BBB7;
   display: inline;
   border-radius: 100px;
   padding: 3px;
   font-size: 0.6rem;
   font-weight: bold;
 }

#logo {
   font-family: 'Mauline', sans-serif;
   text-align: center;
  
}


/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f5e9df;
  padding: 40px;
  border-radius: 1000px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
  margin-bottom: 30px;
}

#footer-info-one, #footer-info-two {
  font-family: 'Montserrat', sans-serif;
  padding-left: 0%;
  list-style: none;
  margin-left: 10%;
  margin-right: 10%;
}

#copyright {
  display: flex;
  align-items: center;
  color: #664a46;
}

#copysymbol {
  margin-right: 0;
  padding-right: 5px;
}

@media screen and (max-width: 400px) {
  #footer-info-one {
      margin-left: 0;
      margin-right: 0;
      order: -1;
      line-height: 22px;
  } 
  
  #footer-info-two {
      order: -1;
      line-height: 22px;
  }

  footer {
      display: flex;
      flex-direction: column;
      border-radius: 50px;
  }
}

.phonedown{
  position: relative;
  display: inline-block;
}
.hamburgerbtn{
  background-color: #dc9f8d;
  color: #664a46;
  padding: 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
 

}
.phonedown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 250px;
  z-index: 1;
}
.phonedown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
.phonedown-content a:hover {
  background-color: #A2BBB7;
}
.phonedown:hover .phonedown-content{
  display: block;
}

/* MAIN */
/* Here I (Daria) put my 4 images into the grid template columns
that repeat two times (2 by 2)*/


main {
   padding-top: 60px;
}

.container-product-photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 5vw;
  padding-left: 30px;
}

.smiley-plates {
  width: 100%;
}

.fix-grid-pls {
  font-size: 0px;
}

.mainmainmain {
  display: grid;
  grid-template-columns: 1fr 1fr ;
}

@media screen and (max-width: 400px) {
  .mainmainmain {
    display: grid;
    grid-template-columns: 1fr;
  }

  .container-product-photos {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding-left: 0;
  }

  .smiley-plates {
   width: 100%;
  }

  #plate-1, #plate-3 {
   text-align: end;
  }
}



/* Here I'm starting to work with the right side of the page*/

#specific-product-name {
  font-family: "Montserrat", sans-serif;
  padding-top: 5vw;
  padding-left: 30px;
  margin: 0px;
  font-size: 1.4rem;
}

#specific-product-price {
  font-family: "Courier Prime", monospace;
  margin: 0px;
  padding-left: 30px;
  font-size: 1rem;
}

#specific-product-sizes {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #858585;
  margin: 0px;
  padding-left: 30px;
  padding-top: 10%;
}

/* Here I am styling the boxes that display the sizes*/
/* I need help to fix the sizes buttons to have the same
margin to the left and right*/

.sizes-container {
  display: flex;
  justify-content: space-around;
}


.size-button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-top: 3vh;
  padding: 2vh;
  padding-left: 7vh;
  padding-right: 7vh;
  text-align: center;
  border-radius: 50px;
  background-color: #f5e9df;
  border-color: beige;
}

@media screen and (max-width: 400px) {
   .sizes-box {
      text-align: center;
   }

   .size-button {
      width: 30%;
      padding: 0.5vh;
      padding-left: 3vh;
      padding-right: 6vh;
      margin-top: 1vh;
      font-size: 0.8rem;
   }
}

/* Styling the Add to cart button*/



#change-button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-align: center;
  border-radius: 50px;
  background-color: #A2BBB7;
  margin-top: 5vh;
  margin-left: 30px;
  margin-right: 30px;
  border-color: #A2BBB7;
  width: 60%;
  color: white;
  padding: 2vh; 
  transition: width 0.5s, height 0.5s;
}

@media screen and (max-width: 400px) {
   #change-button {
      padding: 1.2vh;
      margin: 0px;
      margin-top: 3vh;
      margin-left: 15px;
   }
}

/* ANIMATING add-to-cart-button (change-button) */

#change-button:hover {
  width: 92%;
  font-weight: bold;
}

/* Here I am styling the description of the product text*/

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 30px;
}

.description-text {
  flex: 1;
  margin-top: 5vh;
}

#description-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #3a3a3a;
}

#description-product {
  font-family: "Courier Prime", monospace;
  font-size: 1rem;
  margin-right: 5vh;
  color: #858585;
}

#description-materials {
  font-family: "Courier Prime", monospace;
  font-size: 1rem;
  margin-right: 5vh;
  margin: 0;
  color: #858585;
}

#description-care {
  font-family: "Courier Prime", monospace;
  font-size: 1rem;
  margin-right: 5vh;
  color: #858585;
}

@media screen and (max-width: 400px) {
   .description-container {
      display: block;
   }

   .description-text {
      margin-top: 3vh;
   }
}

/* Other products you may like section*/
.otherpictures {
  width: 30%;
}

.other-products-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-top: 20vh;
  margin-left: 30px;
  padding-bottom: 1vh;
}

.other-products-photos {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.other-products-photos {
  height: auto;
  margin-bottom: 10px;
  padding: 30px;
  padding-top: 0;
}

@media screen and (max-width: 400px) {
   .other-products-photos {
      padding-left: 0;
      padding-right: 0%;
      text-align: center;
   }

   .other-products-text {
      margin-top: 5vh;
   }

   .other-products-photos {
      width: 100%;
      padding: 0px;
   }
}

