body {
    margin: 0;
}

/* HEADER */


.dropdown{
    position: relative;
    display: inline-block;
}
.dropbtn{
    background-color: #dc9f8d;
    color: #664a46;
    padding: 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    z-index: 1;
}
.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.dropdown-content a:hover {
    background-color: #A2BBB7;
}
.dropdown:hover .dropdown-content{
    display: block;
}

* {
    color: #664a46;
}

#header-tabs {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

li {
    margin-left: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dc9f8d;
    width: 100%;
}

.flex-container {
    display: flex;
}

.material-symbols-outlined {
    margin-right: 1rem;
}

#logo {
    margin-right: 180px;
    font-family: 'Mauline', sans-serif;
                                                
}


@media screen and (min-width: 400px){
    .container{
        margin-left: 18%;
        margin-right: 20%;
        width: 60%;
    }
    .cart-button{
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .container{
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        
    }
    .cart-button{
        font-size: 16px;
    }
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f5e9df;
    padding: 40px;
    border-radius: 1000px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 30px;
}

#footer-info-one, #footer-info-two {
    font-family: 'Montserrat', sans-serif;
    padding-left: 0%;
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
}

#copyright {
    display: flex;
    align-items: center;
    color: #664a46;
}

#copysymbol {
    margin-right: 0;
    padding-right: 5px;
}

@media screen and (max-width: 400px) {
    #footer-info-one {
        margin-left: 0;
        margin-right: 0;
        order: -1;
        line-height: 22px;
    } 
    
    #footer-info-two {
        order: -1;
        line-height: 22px;
    }

    footer {
        display: flex;
        flex-direction: column;
        border-radius: 50px;
    }
}

/* MAIN */

.cart-summary{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-width: 10%;
    align-self: center;
    align-content: center;
    margin-top: 0%;
    margin-bottom: 5vh;
    gap: 5%;
}
.container{
    background-color: #F5E9DF;
    margin-top: 5%;
    padding: 2%;
}
/*ask someone how to center those button ishes*/
.product-img{
    width: 50%;
    padding-left: 50%;

}

.smiley-plate-text{
    align-self: center;
    font-family: 'Montserrat', sans-serif;
}

.happiness-mug-text{
    align-self: center;
    font-family: 'Montserrat', sans-serif;
}

h2{
    text-align: center;
    margin-top: 0%;
    padding-top: 0;
    margin-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
}

.emailsent{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-top: 0%;
    margin-bottom: 1%;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.cart-button{
    background-color: #DC9F8D;
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 30px;
    margin-left: 20%;
    font-size: 20px;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

.price{
    font-family: 'Courier Prime', monospace;
}

/* ANIMATION */

@keyframes colorChange {
   0% { color: white;}
   25% { color: #DC9F8D;}
   50% { color: #664a46;}
   75% { color: #DC9F8D;}
   100% { color: white;}
}

#star {
    animation: colorChange 5s linear infinite;
    font-size: 5rem;
}

